<div class="p-d-flex m-5">
  <div class="flex justify-content-between align-content-center flex-wrap mb-3">
    <div>
      <p-toggleButton onLabel="Planning" offLabel="Planning" onIcon="pi pi-calendar" offIcon="pi pi-calendar" class="mr-3"
                      [(ngModel)]="displayPlanning"
                      (click)="switchDisplay(true)"
      ></p-toggleButton>
      <p-toggleButton onLabel="Liste" offLabel="Liste" onIcon="pi pi-list" offIcon="pi pi-list"
                      [(ngModel)]="!displayPlanning"
                      (click)="switchDisplay(false)"
      ></p-toggleButton>
    </div>
    <div>
      <p-chip styleClass="p-3">{{ modules.length }} module{{ modules.length > 1 && ('s') }}</p-chip>
    </div>

  </div>
  <div *ngIf="displayPlanning; else cardsList">
    <app-planning></app-planning>
  </div>
  <ng-template #cardsList>
    <app-cards-list [modules]="modules"></app-cards-list>
  </ng-template>
</div>


