
<div class ="container">
  <div class="images">
    <img src="../../../assets/img/background_code.jpg" alt="image" width="150">
  </div>
  <div class="card">
    <div class="flex flex-column md:flex-row card-container">
      <div class="flex align-items-center justify-content-center font-bold border-round m-2">
          <div class="text">
            <div class="title">
              <h1>INTRODUCTION ET CCNA</h1>
              <h2><span>du 27/06/22 au 29/06/22</span> En cours</h2>
            </div>
            <div class="resume">
              <h2>Résumé :</h2>
              <p class="border-round">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dicta sint itaque quasi et. Sapiente animi nostrum, dolor veniam fugiat quasi, iste vel tempora eaque eius quos, 
                consequatur odio enim quaerat.</p>
            </div>
            <div class="student_list">
              <h2>Liste des étudiants :</h2>
              <textarea class="border-round h-10rem">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dicta sint itaque quasi et. Sapiente animi nostrum, dolor veniam fugiat quasi, iste vel tempora eaque eius quos, 
                consequatur odio enim quaerat.</textarea>
            </div>
            <div class="comment">
              <h2>Commentaire :</h2>
              <textarea class="border-round h-10rem"></textarea>
            </div>
          </div>
        </div>
        <div class="flex-1 md:flex-none flex font-bold m-2 px-4 py-3">
          <div class="infos">
            <div class="flex flex-row-reverse flex-wrap card-container yellow-container">
              <div class="flex w-4rem h-2rem font-bold m-2">Réseau</div>
            </div>
            <div><p>lieu : CAMPUS ACADEMY NANTES</p></div>
            <div><p>adresse : Boulevard Robert-Schuman</p></div>
            <div><p>téléphone : +33 0130503019</p></div>
            <div><p>mail : service.contact@campus.academy</p></div>
            <div class="signature h-6rem m-2 bg-blue-500 font-bold flex align-items-center justify-content-center">Émargement</div>
          </div>
        </div>
    </div>
  </div>
</div>