<div class="container">
  <div class="images">
    <img src="../../../assets/img/background_code.jpg" alt="image">
  </div>
  <div class="title">
    <h1>INTRODUCTION ET CCNA</h1>
    <h2>En cours, <span>du 27/06/22 au 29/06/22</span></h2>
  </div>

  <div class="flex flex-wrap">
    <div class="flex-1 mx-5">
      <h2>Résumé :</h2>
    </div>
  </div>
  <div class="flex flex-wrap align-items-center">
    <div class="flex-1 border-round mx-5">
      <textarea class="border-round p-3" disabled>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sint itaque quasi et. Sapiente animi nostrum, dolor veniam fugiat quasi, iste vel tempora eaque eiusquos, consequatur odio enim quaerat.</textarea>
    </div>

    <div class="flex-1 mx-5">
      <div class="flex font-bold border-round">
        <div class="flex-1">
          <div>Lieu : CAMPUS ACADEMY NANTES</div>
          <div>Adresse : Boulevard Robert-Schuman</div>
        </div>
        <div class="flex-1">
          <div>Téléphone : +33 0130503019</div>
          <div>Mail : service.contact@campus.academy</div>
        </div>
      </div>
      <div class="flex mt-4">
        <p-button class="flex-1 mx-2" label="Terminal"></p-button>
        <p-button class="flex-1 mx-2" label="QR Code"></p-button>
        <p-button class="flex-1 mx-2" label="Email"></p-button>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="flex-1 border-round mx-5">
      <h2>Liste des étudiants :</h2>
      <textarea class="border-round p-3" disabled>Lorem ipsum dolor sit amet consectetur adipisicing elit.Dicta sint itaque quasi et. Sapiente animi nostrum, dolor veniam fugiat quasi, iste vel tempora eaque eius quos, consequatur odio enim quaerat.</textarea>
    </div>

    <div class="flex-1 border-round mx-5">
      <h2>Commentaire :</h2>
      <textarea class="border-round p-3"></textarea>
    </div>
  </div>
</div>