.container {
  font-family: 'Poppins', sans-serif;
}

.content-block {
  background-color: #D9D9D9;
  width: 100%;
  min-height: 10rem;
  max-height: 10rem;
  overflow-y: auto;
}

:host ::ng-deep .p-button {
  width: 100% !important;
}
