<body class="container">
  <div class="flex flex-column flex-wrap justify-content-center align-items-center" style="height: 80vh">
    <div>
      <button pButton label="Retour" icon="pi pi-arrow-left" [routerLink]="module && ('/module/' + module.id)"></button>
    </div>
    <div>
      <h1>Émargement : QR Code</h1>
    </div>
    <div>
      <h2>Scannez le QR Code suivant</h2>
    </div>
    <div>
      <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
  </div>
</body>
