<!-- login screen --> 
<head>
    <title></title>
</head>
<body>

    <div class="main_div">
        
        <div class="box">
            <form>
                <div class="inputBox">
                    <input type="text" name="username" autocomplete="off" required>
                    <label>Adresse mail</label>
                </div>

                <div class="inputBox">
                    <input type="password" name="password" autocomplete="off" required>
                    <label>Mot de passe</label>
                </div>

                <input type="submit" name="" value="Se connecter">
            </form>    

        </div>
    </div>
</body>
    

