<!-- login screen --> 
<p>dashboard works!</p>
<head>
    <meta charset="utf-8">
    <title>DevSign</title>
</head>
<body>
    <div class="center">
        <h1>Login</h1>
        <form method="post">
            <div class="txt_field">
                <input type="email" required>   
                <label>Email :</label>           
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Password :</label>
            </div>
            <div class>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
                
</body>
    

