.container {
  font-family: 'Poppins', sans-serif;
  height: 80vh;
}

.content-block {
  background-color: #D9D9D9;
  width: 100%;
  overflow-y: auto;
}

:host ::ng-deep .p-button:not#back {
  width: 100% !important;
}


:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  stroke: black;
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite;
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
